# Auto detect text files and perform LF normalization
* text=auto

# Keep shell scripts portable across Linux systems
*.sh text eol=lf

# Keep PowerShell scripts compatible with Windows tooling
*.ps1 text eol=crlf
*.psm1 text eol=crlf

# Binary files
*.7z binary
*.gz binary
*.iso binary
*.png binary
*.jpg binary
*.jpeg binary
